<page [title]="pageTitle" *ngIf="!user && !isUserEmpty">
  <loader>Loading user...</loader>
</page>

<page [title]="pageTitle" *ngIf="isUserEmpty">
  <message>This user don't exist...</message>
  <div class="user-page__actions">
    <div class="user-page__actions-item">
      <button kendoButton [primary]="true" (click)="goToUsersPage()">
        All users
      </button>
    </div>
  </div>
</page>

<page [title]="pageTitle" *ngIf="user && !isUserEmpty">
  <user-info [user]="user"></user-info>

  <div class="user-page__actions">
    <div class="user-page__actions-item">
      <button kendoButton [primary]="true" (click)="goToUsersPage()">
        All users
      </button>
    </div>
    <div class="user-page__actions-item">
      <add-post [user]="user"></add-post>
    </div>
    <div class="user-page__actions-item">
      <edit-user [user]="user"></edit-user>
    </div>
  </div>

  <user-posts [user]="user"></user-posts>
</page>
