<div class="comment" *ngIf="comment">
  <div class="comment__field comment__field--id">
    <strong>Comment ID:</strong> {{ comment.id }}
  </div>
  <div class="comment__field comment__field--post-id">
    <strong>Post ID:</strong> {{ comment.id }}
  </div>
  <div class="comment__field comment__field--name">
    <strong>Name:</strong> {{ comment.name }}
  </div>
  <div class="comment__field comment__field--email">
    <strong>Email:</strong> {{ comment.email }}
  </div>
  <div class="comment__field comment__field--body">
    <strong>Coment:</strong> {{ comment.body }}
  </div>
</div>
