<div class="add-user__actions">
  <button
    class="add-user__button add-user__button--add-user"
    kendoButton
    [primary]="true"
    (click)="showModal()"
  >
    Add user
  </button>
</div>

<kendo-dialog
  class="add-user__modal"
  *ngIf="isModalVisible"
  [title]="modalTitle"
  [minWidth]="modalMinWidth"
  [width]="modalWidth"
  (close)="closeModal()"
>
  <user-form
    class="add-user__form"
    [submitButtonText]="'Add user'"
    (onSubmit)="handleFormSubmit($event)"
    (onCancel)="closeModal()"
  ></user-form>
</kendo-dialog>
