<div class="post">
  <div class="post__id">id: {{ post.id }}</div>
  <div class="post__content" *ngIf="!isEditing">
    <h3 class="post__title">{{ post.title }} - [uid: {{ post.userId }}]</h3>
    <div class="post__body">
      {{ post.body }}
    </div>
    <div class="post__actions">
      <button
        class="post__button"
        kendoButton
        [primary]="true"
        (click)="editPost()"
      >
        Edit
      </button>
      <button class="post__button" kendoButton (click)="removePost()">
        Remove
      </button>
    </div>
  </div>

  <div class="post__edit-form" *ngIf="isEditing">
    <post-form
      [post]="post"
      [submitButtonText]="'Save changes'"
      (onSubmit)="handlePostFormSubmit($event)"
      (onCancel)="handlePostFormCancel()"
    ></post-form>
  </div>

  <div class="post__comments" *ngIf="comments && comments.length > 0">
    <div class="post__comments-actions" *ngIf="!isEditing">
      <button
        class="post__button"
        type="button"
        kendoButton
        (click)="toggleCommentsVisibility()"
      >
        {{ commentsVisibilityTogglerText }}
      </button>
    </div>
    <comments-list
      [comments]="comments"
      *ngIf="isCommentsVisible"
    ></comments-list>
  </div>
</div>
