<div class="post">
  <div class="post__id">{{ post.id }}</div>
  <div class="post__content" *ngIf="!isEditing">
    <h3 class="post__title">
      {{ post.title }}
    </h3>
    <div class="post__body">
      {{ post.body }}
    </div>
    <div class="post__actions">
      <button
        class="post__button"
        kendoButton
        [primary]="true"
        (click)="editPost()"
      >
        Edit
      </button>
      <button class="post__button" kendoButton (click)="removePost()">
        Remove
      </button>
    </div>
  </div>

  <div class="post__edit-form" *ngIf="isEditing">
    <post-form
      [post]="post"
      (onSubmit)="handlePostFormSubmit($event)"
      (onCancel)="handlePostFormCancel()"
    ></post-form>
  </div>

  <div *ngIf="comments">
    {{ comments | json }}
  </div>
</div>
