.user-info {
  max-width: 450px;
  padding: 15px;
  margin: auto;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info__field + .user-info__field {
  margin-top: 10px;
}

.user-info__field {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.user-info__field:last-child {
  border-bottom: none;
}
